// Import page-specific CSS files here.
@import "home";

.list-cocktails{
  margin-top: 70px;
}

.list-doses{
  margin-top: -100px;
  background-color: #F4F4F4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cocktail-item,.doses-item {
  margin-top: 20px;

  &:hover {
  transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.cocktail-item a,.doses-item a{
  text-decoration: none;
}
.doses-item{
  position:relative;;
}

.destroy-dose{
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 33px;
  color: white;
}
.modal-content{
  border-radius: 15px;
}

.icon-add{
  font-size: 60px;
  padding-right: 10px;
}

