.home-banner {

  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
.dose-banner {
  background-size: cover;
  height: 400px;
  color: #eee;
  text-align: center;
  padding-top: 120px;
}
