.home-banner {
  background-image: asset-url('background1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
.dose-banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  color: #eee;
  text-align: center;
  padding-top: 120px;
}
